.text {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  width: 700px;
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  .text {
    text-align: left;
  }
  .title {
    width: 360px;
    margin-bottom: 40px;
  }
}
