.text {
  margin-top: 10px;
  margin-bottom: 40px;
  color: rgb(0, 217, 255);
}

.title {
  width: 700px;
}

.goodsImg {
  width: 600px;
}

.address {
  width: 600px;
  background-color: lightblue;
}

.address ul {
  display: flex;
  margin: 15px 0;
}

.address li {
  text-align: left;
  padding-left: 34px;
}

.addressImg {
  width: 600px;
}

@media (max-width: 640px) {
  .text {
    text-align: left;
  }
  .title {
    width: 360px;
  }
  .goodsImg {
    width: 360px;
  }
  .address {
    width: 360px;
    background-color: lightblue;
  }
}
